.element__container {
  margin: 25px 20px 26px 21px;
  display: flex;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .element__container {
    margin: 8% 9% 8% 6%;
  }
}
@media screen and (max-width: 450px) {
  .element__container {
    margin: 25px 15px 31px 21px;
  }
}