.element__delete-button {
  display: none;
  padding: 0;
  position: absolute;
  background-image: url(../../../images/trash.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 18px;
  height: 19.3px;
  right: 15px;
  top: 18px;
}
.element__delete-button:hover {
  opacity: .6;
  transition: opacity .3s;
}